$color-primary: #113849;
$color-secondary: #d87744;
$color-Bg: #f2f2f2;
$color: #ffffff;
$color-font: #212529;
$color-Bg-secondary: #626263;
$color-error: #e63946;
$background-color-hearder-transparent: #ffffff00;
$background-color-gradient-1: linear-gradient(to right, #f19359, #67a8c4);
$background-color-gradient-2: linear-gradient(to right, #5c6bc0, #f19359);
$background-image: linear-gradient(
  to right,
  #113849,
  #3c4871,
  #834e80,
  #c0556c,
  #d87744
);

$color-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
