@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-family: "Poppins", serif;

$color-primary: #113849;
$color-secondary: #d87744;
$color-Bg: #f2f2f2;
$color-font: #212529;
$color-font-light: rgba($color-primary, 0.8);
$color-Bg-secondary: #626263;
$color-error: rgba($color-secondary, 0.9);
$background-color-gradient-1: linear-gradient(
  to right,
  $color-secondary,
  #67a8c4
);
$background-image: linear-gradient(
  to right,
  #113849,
  #3c4871,
  #834e80,
  #c0556c,
  #d87744
);

$color-shadow:
  rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;

.container {
  width: 90%;
  margin: auto;
}
body {
  font-family: $font-family;
  background-color: $color-Bg;
  color: $color-primary;
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
