@use "../../variables" as v;

.containerFilterUser {
  display: flex;
  flex-direction: column;
  gap: 25px;
  h4 {
    font-size: 1.5rem;
    padding-bottom: 15px;
  }

  &__containerCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__cards {
    border: 1px solid rgba(v.$color-secondary, 0.5);
    border-radius: 8px;
    padding: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    h5 {
      border-bottom: 1px solid rgba(v.$color-secondary, 0.5);
      font-size: 1rem;
      padding-bottom: 15px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &__button {
      padding-top: 15px;
      border-top: 1px solid rgba(v.$color-secondary, 0.5);
      display: flex;
      gap: 15px;
      button {
        padding: 8px 10px;
        border: none;
        background: v.$color-secondary;
        border-radius: 6px;
        color: v.$color-Bg;
      }
    }
  }
}
