@use "../../../variables" as v;

.containerHistorial {
  display: flex;
  flex-direction: column;
  gap: 25px;
  h4 {
    font-size: 1.5rem;
  }
  &__inputSearch {
    width: auto;
    display: flex;
    gap: 25px;
    button {
      padding: 10px 25px;
      border: none;
      background: v.$color-secondary;
      border-radius: 8px;
      color: v.$color-Bg;
    }
  }
  &__inputPet {
    width: 300px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    select {
      border: none;
      border-radius: 6px;
      padding: 10px;
      background: rgba(v.$color-Bg-secondary, 0.2);
    }
  }
}
